<template>
  <div>
    <b-navbar type="is-primary">
      <template slot="brand">
        <b-navbar-item tag="router-link" :to="{ name: 'Dashboard' }">
          <img src="../../../images/logo.png" alt="Garnish Health Logo" />
        </b-navbar-item>
      </template>

      <template slot="end">
        <b-navbar-item>
          <b-icon icon="bell"></b-icon>
        </b-navbar-item>
        <b-navbar-item tag="div">
          <div class="buttons">
            <b-button type="is-primary" @click="logout">
              <strong>Log Out</strong>
            </b-button>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>

    <router-view />
  </div>
</template>

<script>
import logout from '@/mixins/logout';

export default {
  mixins: [logout],
};

</script>
