@import './variables.scss';
@import './lib/bulma.scss';

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: $tablet) {
  .columns {
    margin-left: 0;
    margin-right: 0;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.notices > .snackbar {
  @media screen and (max-width: $tablet) {
    > .text {
      font-size: .8rem;
    }
    > .action {
      margin-left: 0;
    }
  }
}