// Garnish branding colors
$g-purple: rgb(96, 78, 125);
$g-blue: rgb(15, 107, 172);
$g-green: rgb(104, 189, 69);
$g-red: rgb(242, 99, 53);
$g-yellow: rgb(230, 211, 49);
$g-black: #333333;
$g-gray: #999999;
$g-white: #f7f7f7;

// other
$bottom-nav-z-index: 1;