<template>
  <section id="about">
    <div class="container">
      <div class="column is-full">
        <h1 class="title is-1 has-text-weight-strong has-text-centered">
          What's This About?
        </h1>
      </div>
      <div class="columns is-centered">
        <div class="column is-two-thirds-mobile">
          <figure class="image is-3by2">
            <img
              src="@/images/photo-1574740981348-fe6e45e9a294.jpeg"
              alt="Two people holding hands"
            />
          </figure>
        </div>
        <div
          class="column is-half has-text-centered"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <p class="is-size-3">Reciprocating Donation Platform</p>
          <p class="is-size-4">
            When insurance companies tell you to 'GoFund yourself', you can turn to
            Garnish Health! Think of health cost sharing as a donation platform, but where
            all members contribute to each other's costs instead of an individual
            promoting a single campaign.
          </p>
        </div>
      </div>
      <div class="columns image-right">
        <div class="column is-two-thirds-mobile">
          <figure class="image is-3by2">
            <img
              src="@/images/photo-1484981184820-2e84ea0af397.jpeg"
              alt="Woman holding calendar"
            />
          </figure>
        </div>
        <div
          class="column is-half has-text-centered"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <p class="is-size-3">Smart Enrollment Periods</p>
          <p class="is-size-4">
            Garnish Health enrollment windows are based on real-time population health
            trends. This allows us to protect our network from a stampede of claims during
            high risk times, while not denying coverage due to pre-existing conditions.
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-two-thirds-mobile">
          <figure class="image is-3by2">
            <img
              src="@/images/photo-1567427017947-545c5f8d16ad.jpeg"
              alt="Jar with change spilling out"
            />
          </figure>
        </div>
        <div
          class="column is-half has-text-centered"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <p class="is-size-3">Affordable, Simple, Accessible</p>
          <p class="is-size-4">
            Whether you are an individual or family who is uninsured or underinsured, our
            monthly sharing levels are comprehensive and affordable. Simply choose how
            much coverage you need; up to $500,000 per medical incident.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
section {
  background-color: whitesmoke;

  .columns {
    @media screen and (min-width: $tablet) {
      &.image-right {
        .column:first-child {
          order: 2;
        }
      }
    }

    @media screen and (max-width: $tablet) {
      .column:first-child {
        margin: auto;
      }
    }

    .column:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p:first-child {
        font-weight: bold;
        margin: 0 2rem 1rem 2rem;
        border-bottom: 3px solid $primary;

        @media screen and (min-width: $widescreen) {
          margin: 0 4rem 1rem 4rem;
        }
      }
    }
  }
  figure {
    margin: 2rem;
    img {
      box-shadow: 2px 2px 5px darken($primary, 20%);
      border-radius: 10px;
    }
  }
}
</style>
