<template>
  <footer class="footer has-background-info">
    <div class="container has-text-white">
      <div class="columns">
        <div class="column is-3 has-text-centered disclaimers">
          <p class="is-size-7">© Garnish Inc. 2019-
            {{ new Date().getFullYear() }}. All Rights Reserved.</p>
          <p class="is-size-7">
            Garnish Inc. is a
            <a
              href="https://en.wikipedia.org/wiki/Public-benefit_corporation"
              target="_blank"
            >public benefit corporation</a>.
          </p>
          <p class="is-size-7">
            <router-link :to="{name: 'FAQs'}">FAQs</router-link> |
            <router-link :to="{name: 'Terms'}">Terms and Conditions</router-link> |
            <router-link :to="{name: 'PrivacyPolicy'}">Privacy Policy</router-link>
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
footer {
  padding: 1rem 0;

  .column.social {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      text-decoration: none;
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  .disclaimers {
    z-index: $bottom-nav-z-index + 1; // will be overlapped by bottom nav
    a {
      color: white;
      text-decoration: underline;
    }
  }

  @media screen and (max-width: $tablet){
    height: 8rem;
  }
}
</style>
