<template>
  <hero>
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2 is-6-desktop is-offset-3-desktop has-text-white">
        <h1
          class="title is-2 has-text-weight-strong"
          data-aos="zoom-in"
          data-aos-easing="ease-out-in"
        >
          Health cost sharing for everyone!
        </h1>
        <p class="is-size-5 has-text-weight-semibold">Affordable. Simple. Accessible.</p>
        <p class="is-size-5">Sign up today to be alerted when Garnish is available!</p>
        <signup-box></signup-box>
      </div>
    </div>
  </hero>
</template>

<style lang="scss" scoped>
.subtitle {
  padding-top: 3rem;
  line-height: 1.5;
}
.subtitle,
.title {
  color: $light;
}
.container {
  min-height: 500px;
}
img {
  opacity: 0.8;
}
p {
  margin-bottom: 1rem;
}
::v-deep .captcha-disclaimer {
  a {
    &:hover {
      color: $g-gray;
    }
  }
}
</style>

<script>
import { Hero, SignupBox } from '../components';

export default {
  components: {
    Hero,
    SignupBox,
  },
};
</script>
