<template>
  <section id="how-it-works">
    <div class="container is-fluid has-heading">
      <div class="columns">
        <div class="column is-full">
          <h1 class="title is-1 has-text-weight-strong has-text-centered">How it Works</h1>
        </div>
      </div>
    </div>
    <div class="container has-steps">
      <div class="columns">
        <div
          class="column step"
          v-for="(step, index) in steps"
          :key="step.title"
          data-aos="fade-right"
          :data-aos-delay="index * 250"
        >
          <figure>
            <font-awesome-icon :icon="step.icon" :class="step.style" size="6x">
            </font-awesome-icon>
          </figure>
          <p class="title is-3 has-text-centered">{{ step.title }}</p>
          <p class="is-size-4 has-text-centered">{{ step.description }}</p>
          <div class="arrow"><font-awesome-icon
            :icon="['far', 'arrow-right']"
            v-if="index < steps.length - 1"
            size="3x"
            class="has-text-info is-hidden-mobile"
          ></font-awesome-icon></div>
        </div>
      </div>
    </div>
    <div class="container has-cta">
      <div class="columns">
        <div class="column has-text-centered">
          <p class="is-size-4 has-text-info">
            <router-link :to="{name: 'FAQs'}">
              View our FAQs
              <font-awesome-icon
                :icon="['far', 'arrow-right']"
              ></font-awesome-icon>
            </router-link>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
section {
  background-color: lighten($color: $g-white, $amount: 0%);

  .container {
    &.has-heading {
      margin: auto;
    }
    &.has-steps {
      margin: auto;
    }
    &.has-cta {
      margin-top: 2rem;
    }
  }
  figure {
    margin: auto;
    position: relative;
    text-align: center;
    padding-bottom: 1rem;
  }
  .step {
    position: relative;

  .arrow {
      position: absolute;
      top: 15%;
      right: 0;
    }
  }
}
</style>

<script>
export default {
  data() {
    return {
      steps: [
        {
          title: 'Enroll',
          description: 'Sign up to be notified when the enrollment window opens in your location.',
          icon: ['far', 'calendar-exclamation'],
          style: 'has-text-danger',
          isActive: false,
        },
        {
          title: 'Review & Pay',
          description: 'Each month you can review and approve posted bills from other members that you want to garnish from your shares.',
          icon: ['far', 'money-bill'],
          style: 'has-text-success',
          isActive: false,
        },
        {
          title: 'Post',
          description: 'Tell your medical provider you are paying cash and then post your bills on Garnish to get funded.',
          icon: ['far', 'hand-holding-medical'],
          style: 'has-text-warning',
          isActive: false,
        },
      ],
    };
  },
};
</script>
