<template>
  <section id="pricing">
    <div class="container">
      <div class="columns">
        <div class="column is-full">
          <h1 class="title is-1 has-text-weight-strong has-text-centered">
            Pricing
          </h1>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-full is-two-thirds-tablet is-half-widescreen">
          <p class="is-size-4 has-text-centered subtitle">Calculate your Monthly Shares</p>
          <div class="field is-horizontal">
            <div class="field-label is-large">
              <label class="label">Dependents</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth is-large is-primary">
                    <label class="is-sr-only">Dependents</label>
                    <select name="dependents" v-model="dependents">
                      <option value="1">Just me</option>
                      <option value="2">+1 Spouse/Partner/Dependent</option>
                      <option value="3">+2 Dependents</option>
                      <option value="3.4">+3 Dependents</option>
                      <option value="3.5">+4 Dependents</option>
                      <option value="3.6">+5 Dependents</option>
                      <option value="3.7">+6 Dependents</option>
                      <option value="3.8">+7 Dependents or More</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-large">
              <label class="label">Annual Limit</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth is-large is-primary">
                    <label class="is-sr-only">Coverage</label>
                    <select name="amount" v-model="amount">
                      <option value="25">$0 (I just want to donate)</option>
                      <option value="50">$5,000</option>
                      <option value="75">$20,000</option>
                      <option value="100">$100,000</option>
                      <option value="150">$250,000</option>
                      <option value="450">$500,000</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="has-text-right">
          <div><span class="total is-size-2">${{ total }}</span> / month</div>
          <p class="">*For estimatation purposes only. Pricing subject to change.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
section {
    background-color: whitesmoke;
}
.field-label {
  flex-grow: 2;
}
</style>

<script>
export default {
  data() {
    return {
      dependents: 1,
      amount: 50,
    };
  },
  computed: {
    total() {
      return this.dependents * this.amount;
    },
  },
};
</script>
