<template>
  <section id="signup">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column has-text-centered is-6 is-offset-3">
          <h1
            class="title is-1 has-text-weight-strong has-text-centered has-text-light"
            data-aos="zoom-in"
          >
            Pre-register now!
          </h1>
          <p class="is-size-5 has-text-light">Be notified when Garnish is available.</p>
          <signup-box :blue-bg="true"></signup-box>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
section {
  background-color: $g-blue;
  padding: 3rem 0;
  border-top: 5px solid $primary;

  p {
    margin-bottom: 1rem;
  }
}
::v-deep .captcha-disclaimer {
  a {
    color: $g-black;

    &:hover {
      color: $g-gray;
    }
  }
}
</style>

<script>
import { SignupBox } from '../components';

export default {
  components: { SignupBox },
};
</script>
