<template>
  <nav class="tabs is-centered" :class="{ 'transition-nav-bg': solidBg }">
    <div class="container">
      <div class="columns">
        <div class="column start is-hidden-mobile"></div>
        <div class="column middle">
          <ul>
            <li>
              <a href="#" @click="scrollToTop()">
                <strong>Sign Up</strong>
              </a>
            </li>
            <li>
              <a href="#about">
                <strong>About</strong>
              </a>
            </li>
            <li>
              <a href="#how-it-works">
                <strong>How it Works</strong>
              </a>
            </li>
            <li>
              <a href="#pricing">
                <strong>Pricing</strong>
              </a>
            </li>
          </ul>
        </div>
        <div class="column end is-hidden-mobile">
          <ul>
            <li>
              <a href="https://twitter.com/GarnishHealth" target="_blank">
                <font-awesome-icon
                  :icon="['fab', 'twitter-square']"
                  size="lg"
                ></font-awesome-icon>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/GarnishHealth/" target="_blank">
                <font-awesome-icon
                  :icon="['fab', 'facebook-square']"
                  size="lg"
                ></font-awesome-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<style lang="scss" scoped>
nav.tabs {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  border-top: 2px solid transparent;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
  z-index: $bottom-nav-z-index;
  width: 100%;

  .end > ul {
    justify-content: flex-end;
  }

  ul {
    border-bottom: none;
    a {
      border-bottom: none;
      color: $g-white;
      font-size: .8rem;

      @media screen and (min-width: $tablet) {
        font-size: 1rem;
      }

      &:hover {
        color: $g-gray;
        border-bottom: none;
      }
    }
  }
  &.transition-nav-bg {
    background-color: rgba($g-blue, 1);
    a {
      color: $g-white;
    }
  }
  .container {
    padding-bottom: 0.5rem;
  }
}
</style>

<script>
export default {
  props: ['solidBg'],
  methods: {
    scrollToTop() {
      window.scrollTo(0, 0);
    },
  },
};
</script>
