<template>
  <section class="hero is-fullheight is-transparent" ref="hero">
    <div class="hero-head">
      <top-nav></top-nav>
    </div>
    <div class="hero-body">
      <slot></slot>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
    url(~@/images/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<script>
import TopNav from './TopNav.vue';

export default {
  components: {
    TopNav,
  },
};
</script>
