<template>
  <transition name="fade" mode="out-in">
    <div v-if="signup.signedUp" key="notification" class="notification is-primary">
      <button class="delete" @click="resetEmail"></button>
      <p class="is-size-5">
        Check your email at
        <strong>{{ this.signup.email }}</strong> for next steps.<br />
        If in your junk/promo folder, move to Inbox to receive future updates.
      </p>
      <social-share></social-share>
    </div>
    <div v-else-if="signup.error" key="notification" class="notification is-warning">
      <button class="delete" @click="resetEmail"></button>
      <p class="is-size-5" v-html="signup.error"></p>
    </div>
    <div v-else key="form">
      <form @submit.prevent="submit" class="field is-grouped">
        <b-field label="Email" custom-class="is-sr-only" expanded>
          <b-input
            v-model="signup.email"
            ref="email"
            type="email"
            placeholder="Email"
            name="email"
            size="is-medium"
            required
            :disabled="signup.requesting"
          ></b-input>
        </b-field>
        <b-button
          native-type="submit"
          :type="blueBg ? 'is-primary' : 'is-info'"
          size="is-medium"
          icon-left="envelope"
          :loading="signup.requesting"
          >Notify Me</b-button
        >
      </form>
      <p class="field is-size-7 captcha-disclaimer">
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </p>
    </div>
  </transition>
</template>

<style lang="scss" scoped>
.fade-enter-active {
  transition: opacity 0.3s ease;
}
.fade-enter {
  opacity: 0;
}
.notification > .social-icons {
  margin-top: 1rem;
}
</style>

<script>
import Signup from '@/mixins/signup';
import SocialShare from './SocialShare.vue';

export default {
  mixins: [Signup],
  components: { SocialShare },
  props: {
    blueBg: {
      required: false,
      default: false,
    },
  },
};
</script>
