<template>
  <social-sharing
    url="http://www.garnish.health"
    title="Garnish Health"
    description="Health cost sharing for everyone."
    quote="When insurance tells you to GoFund yourself, you can turn to Garnish Health!"
    hashtags="Garnish"
    twitter-user="GarnishHealth"
    inline-template
  >
    <div class="social-icons">
      <network network="facebook">
        <font-awesome-icon :icon="['fab', 'facebook-square']" size="2x">
        </font-awesome-icon>
      </network>
      <network network="linkedin">
        <font-awesome-icon :icon="['fab', 'linkedin']" size="2x"> </font-awesome-icon>
      </network>
      <network network="reddit">
        <font-awesome-icon :icon="['fab', 'reddit-square']" size="2x">
        </font-awesome-icon>
      </network>
      <network network="twitter">
        <font-awesome-icon :icon="['fab', 'twitter-square']" size="2x">
        </font-awesome-icon>
      </network>
      <network network="sms">
        <font-awesome-icon :icon="['far', 'comment-alt-lines']" size="2x">
        </font-awesome-icon>
      </network>
      <network network="email">
        <font-awesome-icon :icon="['far', 'envelope-square']" size="2x">
        </font-awesome-icon>
      </network>
    </div>
  </social-sharing>
</template>

<style lang="scss" scoped>
.social-icons {
  justify-content: center;

  ::v-deep > span{
    margin: 0 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}
</style>
