<template>
  <b-navbar :mobile-burger="false" type="is-info" transparent>
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{name: 'Home'}">
        <img src="@/images/logo-border.png" alt="Garnish Health Logo" />
      </b-navbar-item>
    </template>
    <template slot="end">
      <b-navbar-item href="https://twitter.com/GarnishHealth" target="_blank">
        <font-awesome-icon
          :icon="['fab', 'twitter-square']"
        ></font-awesome-icon>
      </b-navbar-item>
      <b-navbar-item href="https://www.facebook.com/GarnishHealth/" target="_blank">
        <font-awesome-icon
          :icon="['fab', 'facebook-square']"
        ></font-awesome-icon>
      </b-navbar-item>
      <div v-if="showLogin">
      <b-navbar-dropdown v-if="userAuthenticated" right boxed hoverable arrowless>
        <template slot="label">
          <font-awesome-icon :icon="['far', 'user']"></font-awesome-icon>
        </template>
        <b-navbar-item tag="router-link" :to="{ name: 'Dashboard' }">
          <font-awesome-icon :icon="['far', 'chalkboard-teacher']"></font-awesome-icon>
          <span>Dashboard</span>
        </b-navbar-item>
        <b-navbar-item tag="a" href="#" @click="logout">
          <font-awesome-icon :icon="['far', 'sign-out']"></font-awesome-icon>
          <span>Log Out</span>
        </b-navbar-item>
      </b-navbar-dropdown>
      <b-navbar-item
        v-else
        v-show="userAuthenticated !== null && this.$route.name !== 'Login'"
        tag="router-link"
        :to="{ name: 'Login' }"
      >
        <font-awesome-icon :icon="['far', 'chalkboard-teacher']"></font-awesome-icon>
      </b-navbar-item>
      </div>
    </template>
  </b-navbar>
</template>

<style lang="scss">
nav {
  .hero & {
    .navbar-brand {
      a {
        position: absolute;
      }
      img {
        max-height: 6rem;
        @media screen and (min-width: $desktop){
          max-height: 8rem;
        }
      }
    }
  }
}

.navbar-item.has-dropdown {
  .navbar-link,
  .navbar-item {
    display: flex;
  }
  .icon {
    margin-right: 0.5rem;
  }
  .navbar-dropdown.is-right:last-child {
    right: 5px;
  }
}
</style>

<script>
import logout from '@/mixins/logout';
import { mapGetters } from 'vuex';

export default {
  mixins: [logout],
  data() {
    return {
      showLogin: false,
    };
  },
  computed: mapGetters([
    'userAuthenticated',
  ]),
};
</script>
