<template>
  <div class="error">
    <div v-if="code" class="code">{{ code }}</div>
    <div class="message">{{ message }}</div>
  </div>
</template>

<style>
html,
body {
  background-color: #fff;
  color: #636b6f;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}
</style>

<style lang="scss" scoped>
.error {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;

  > .code {
    border-right: 2px solid;
    font-size: 26px;
    padding: 0 15px 0 15px;
    text-align: center;
  }

  > .message {
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }
}
</style>

<script>
export default {
  props: {
    code: {
      required: false,
      default: null,
    },
    message: {
      required: false,
      default: 'An unexpected error occured',
    },
  },
};
</script>
