<template>
  <div>
    <top-nav></top-nav>
    <section class="section">
      <div class="container">
        <h1 class="title has-text-centered">Frequently Asked Questions</h1>
        <div class="content">
          <h3>Is this health insurance?</h3>
          <p>
            No. In fact, you can choose a sharing limit that suits your needs whether or not you
            already have health insurance. Garnish does not provide insurance or minimum essential
            coverage, and does not guarantee solvency of the network.
          </p>
          <h3>Is this a Health Cost Sharing Ministry?</h3>
          <p>
            No. A Health Cost Sharing Ministry (HCSM) is a faith-based organization designated to
            offer health cost sharing services as a special exemption and alternative to health
            insurance under the Affordable Care Act (ACA). The founders of Garnish Health wanted to
            create an all inclusive, secular health cost sharing service from the ground up that was
            not selective based on religious convictions or church affiliations, but rather one that
            leveraged big data and modern technologies to manage risk. With that said, HCSMs are the
            influential gospel music to our rock 'n roll and we honor those roots.
          </p>
          <h3>Do you cover pets?</h3>
          <p>
            Not yet, but if this launch goes well then we will consider defining pets as dependents
            if you have proof of ownership. Stay tuned.
          </p>
          <h3>Is there a Co-Pay or Deductible?</h3>
          <p>
            Not exactly, Garnish isn’t a health insurance policy, so these concepts don’t apply.
            Based on your membership level, you can submit any health cost accepted by the Members
            under the Membership Pledge.
          </p>
          <h3>When will you launch?</h3>
          <p>
            As soon as we reach a sufficient critical mass of registrations that will convert to
            members, so be sure to share Garnish Health with as many friends as possible! While we
            can't and don't guarantee solvency, the health of the network depends on the Law of
            Large Numbers, among other factors.
          </p>
          <h3>Why the name Garnish?</h3>
          <p>
            Because it's an anagram for the word sharing. And we like the double meaning of garnish
            representing something extra, as well as representing a disbursement of funds (for
            better or worse).
          </p>
          <h3>What kinds of medical bills are shareable on Garnish?</h3>
          <p>
            Generally speaking... non-recurring, non-elective medical bills. There will be a
            Membership Pledge that outlines more specifics, but our goal is to be as inclusive as
            possible.
          </p>
          <h3>Does that include prescription medication, therapy, dental and vision?</h3>
          <p>
            Yes, but only for the initial prescription or therapy, and nothing cosmetic. So no
            refills or continuous therapy sessions, and no frames or braces. These rules may be
            removed or redefined over time as the platform matures.
          </p>
          <h3>Is there a claims adjudication process?</h3>
          <p>
            Yes and no. There will be some basic programmatic rules about which bills can be
            submitted, but mostly the process will be crowdsourced by the members themselves who
            will review the posted bills each month that are randomly presented to them for payment.
            Members can prioritize bills based on our rules of shareable costs and/or flag for
            fraud. Garnish staff will review bills that are flagged or deprioritized.
          </p>
          <h3>How do you handle privacy if everyone can see each other's medical bills?</h3>
          <p>
            Great question! Ultimately, members control how much information they want to include
            about their medical bills, same as they would on GoFundMe or Venmo. We will also provide
            tools for redacting personal information from posted bills, but the more detail and
            legibility the member's include, then the more likely their bill will be accepted by
            other members and prioritized for payment.
          </p>
          <h3>Who actually pays the medical bills?</h3>
          <p>
            The members themselves are responsible for paying their own bills, and should negotiate
            the best cash price with their medical provider. Funds are transferred from other
            Garnish members' virtual wallets to the member in need, who can then deposit those funds
            directly to their bank account via an ACH transfer.
          </p>
          <h3>What if the network runs out of money before all bills are paid that month?</h3>
          <p>
            That could happen. In which case, unpaid bills remain in the system for sharing in
            subsequent months until they are paid in full, or are withdrawn by the member.
          </p>
          <h3>I have more questions, who can I talk to?</h3>
          <p>
            Send us your questions to
            <a href="mailto:info@garnish.health" subject="More questions">info@garnish.health</a>
            and we will respond as quickly as possible.
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { TopNav } from '../components';

export default {
  components: {
    TopNav,
  },
};
</script>
