<template>
  <div>
    <about></about>
    <how-it-works></how-it-works>
    <pricing></pricing>
    <signup></signup>
  </div>
</template>

<style lang="scss" scoped>
::v-deep section:not(:last-child) {
  padding: 3rem 0;
  border-top: 5px solid $g-blue;
}
</style>

<script>
import {
  About,
  HowItWorks,
  Signup,
  Pricing,
} from '../sections';

export default {
  components: {
    About,
    HowItWorks,
    Signup,
    Pricing,
  },
};
</script>
