<template>
  <div class="landing-wrapper">
    <router-view name="hero" ref="hero"></router-view>
    <router-view></router-view>
    <page-footer v-if="this.$route.name !== 'Login'"></page-footer>
    <bottom-nav ref="nav" v-if="this.$route.name === 'Home'" :solid-bg="navSolidBg"></bottom-nav>
  </div>
</template>

<style lang="scss">
.landing-wrapper {
  overflow-x: hidden;
}
.notices.is-bottom {
  padding-bottom: 3em;
  .text {
    text-align: center;
    a {
      color: $g-blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
</style>

<script>
import { mapGetters } from 'vuex';
import { addScript as addCaptchaScript } from '@/utils/captcha';
import { SnackbarProgrammatic as Snackbar } from 'buefy';
import { Footer } from '../sections';
import { BottomNav } from '../components';

export default {
  components: {
    BottomNav,
    'page-footer': Footer,
  },
  data() {
    return {
      scrollY: window.pageYOffset,
      windowInnerHeight: window.innerHeight,
      heroHeight: null,
      bottomNavOffset: null,
    };
  },
  created() {
    window.addEventListener('scroll', this.onScroll);
  },
  mounted() {
    if (!this.cookiesAcknowledged) this.openCookieAlert();
    if (this.$refs.nav && this.$refs.hero) {
      this.heroHeight = this.$refs.hero.$el.offsetHeight;
      this.bottomNavOffset = this.$refs.nav.$el.offsetTop
          + this.$refs.nav.$el.offsetHeight
          + this.scrollY;
    }
    addCaptchaScript();
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll);
  },
  computed: {
    scrolled() {
      return this.scrollY !== 0 && !this.atBottom;
    },
    atBottom() {
      return this.windowHeight >= document.body.scrollHeight;
    },
    windowHeight() {
      return this.windowInnerHeight + Math.ceil(this.scrollY);
    },
    navOverlapsHero() {
      return this.bottomNavOffset < this.heroHeight;
    },
    navSolidBg() {
      return this.scrolled || this.navOverlapsHero;
    },
    ...mapGetters(['cookiesAcknowledged']),
  },
  methods: {
    onScroll() {
      this.scrollY = window.pageYOffset;
    },
    openCookieAlert() {
      Snackbar.open({
        message:
          `This website uses cookies.<br>
          We use cookies for necessary website functionality<br>
          and for analyzing site usage.<br>
          View our <a href="/privacy-policy#cookies" target="_blank">Cookie Policy</a>`,
        type: 'is-info',
        position: 'is-bottom',
        actionText: 'OK',
        indefinite: true,
        onAction: () => {
          this.$store.dispatch('acknowledgeCookies');
        },
      });
    },
  },
};
</script>
