<template>
  <hero>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8 is-4-desktop is-3-widescreen">
          <h1 class="title is-1 has-text-light has-text-weight-light has-text-centered">
            Login
          </h1>
          <form @submit.prevent="login" class="box">
            <p v-for="error in validationErrors" :key="error" class="has-text-danger">
              {{ error }}
            </p>
            <b-field label="Email" :type="{'is-danger': validationErrors.length}">
              <b-input
                v-model="email"
                ref="email"
                type="email"
                placeholder="Email"
                icon="envelope"
              ></b-input>
            </b-field>
            <b-field label="Password" :type="{'is-danger': validationErrors.length}">
              <b-input
                v-model="password"
                type="password"
                password-reveal
                placeholder="Password"
                icon="lock"
              ></b-input>
            </b-field>
            <div class="field buttons">
              <button class="button is-text" disabled>
                Register
              </button>
              <b-button native-type="submit" type="is-info" icon-right="share-square">
                Login
              </b-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </hero>
</template>


<style lang="scss" scoped>
  .field.buttons {
    margin-top: 1.5rem;
    justify-content: space-between;
  }
</style>

<script>
import { mapGetters } from 'vuex';
import { Hero } from '../components';

export default {
  components: { Hero },
  data() {
    return {
      email: 'admin@example.com',
      password: 'admin',
      loading: false,
      errors: {},
    };
  },
  computed: {
    ...mapGetters([
      'userAuthenticated',
    ]),
    validationErrors() {
      const errors = Object.values(this.errors);
      return errors.flat();
    },
  },
  watch: {
    email() {
      this.errors = {};
    },
    password() {
      this.errors = {};
    },
    userAuthenticated(val) {
      if (val) {
        this.$router.push({
          name: 'Dashboard',
        });

        this.$buefy.toast.open({
          message: 'Welcome back!',
          position: 'is-top',
        });
      }
    },
  },
  methods: {
    async login() {
      this.loading = true;
      this.errors = {};

      try {
        await this.$store.dispatch('login', {
          email: this.email,
          password: this.password,
        });
      } catch (e) {
        this.$store.commit('AUTHENTICATED', false);
        this.errors = e.response.data.errors;
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
