<template>
  <hero>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8 is-6-desktop">
          <h1 class="title is-1 has-text-light has-text-weight-light has-text-centered">
            {{
              loading
                ? 'Fetching Registration'
                : submitted
                ? 'Your registration details have been updated!'
                : lead
                ? 'Registration Details'
                : 'Invalid Registration'
            }}
          </h1>
          <div v-if="submitted" class="success-details">
            <p class="is-size-5 has-text-light has-text-centered">
              We will let you know as soon as enrollment is available.<br>
              In the meantime, follow us on social media for updates.
            </p>
            <div class="is-flex social">
              <a href="https://twitter.com/GarnishHealth" target="_blank">
                <font-awesome-icon
                  :icon="['fab', 'twitter-square']"
                  size="lg"
                  class="has-text-white"
                ></font-awesome-icon>
              </a>
              <a href="https://www.facebook.com/GarnishHealth/" target="_blank">
                <font-awesome-icon
                  :icon="['fab', 'facebook-square']"
                  size="lg"
                  class="has-text-white"
                ></font-awesome-icon>
              </a>
            </div>
          </div>
          <form v-if="!loading && lead && !submitted" class="box" @submit.prevent="submit">
            <div v-if="validationErrors" class="errors">
              <p v-for="error in validationErrors" :key="error" class="has-text-danger">
                {{ error }}
              </p>
            </div>
            <b-field label="Email">
              <b-input v-model="email" disabled readonly></b-input>
            </b-field>
            <p class="has-text-success">Your email has been verified</p>
            <b-field
              label="First Name"
              :type="{ 'is-danger': errors.hasOwnProperty('first_name') }"
            >
              <b-input required v-model="first_name" placeholder="First Name"></b-input>
            </b-field>
            <b-field
              label="Last Name"
              :type="{ 'is-danger': errors.hasOwnProperty('last_name') }"
            >
              <b-input required v-model="last_name" placeholder="Last Name"></b-input>
            </b-field>
            <b-field
              label="Zip"
              :type="{ 'is-danger': errors.hasOwnProperty('zip') }"
            >
              <b-input v-model="zip" placeholder="Zip Code"></b-input>
            </b-field>
            <b-field label="Dependents">
              <b-select v-model.number="dependents" expanded>
                <option value="" selected>Select number of dependents</option>
                <option value="0">Just me</option>
                <option value="1">+1 Spouse/Partner/Dependent</option>
                <option value="2">+2 Dependents</option>
                <option value="3">+3 Dependents</option>
                <option value="4">+4 Dependents</option>
                <option value="5">+5 Dependents</option>
                <option value="6">+6 Dependents</option>
                <option value="7">+7 Dependents or More</option>
              </b-select>
            </b-field>
            <b-field label="Coverage">
              <b-select v-model.number="coverage" expanded>
                <option value="" selected>Select desired coverage amount</option>
                <option value="0">$0 (I just want to donate)</option>
                <option value="5000">$5,000</option>
                <option value="20000">$20,000</option>
                <option value="100000">$100,000</option>
                <option value="250000">$250,000</option>
                <option value="500000">$500,000</option>
              </b-select>
            </b-field>
            <div class="field buttons">
              <b-button native-type="submit" type="is-info">
                Submit
              </b-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </hero>
</template>

<style lang="scss" scoped>
.field.buttons {
  justify-content: flex-end;
}
.errors, .success-details > p, .box > p {
  margin-bottom: 1rem;
}
.box {
  padding-top: .5rem;
}
.social {
  justify-content: center;
  > a:not(:first-child) {
    margin-left: 1rem;
  }
}
</style>

<script>
import API from '@/lib/api';
import { get as _get } from 'lodash-es';
import { Hero } from '../components';

export default {
  components: { Hero },
  data() {
    return {
      loading: false,
      lead: null,
      first_name: null,
      last_name: null,
      zip: null,
      dependents: '',
      coverage: '',
      errors: {},
      submitted: false,
    };
  },
  async mounted() {
    this.loading = true;
    try {
      const { data } = await API.getRegistration(this.$route.params.token);
      this.lead = data.lead;
      this.first_name = _get(data, 'details.first_name', null);
      this.last_name = _get(data, 'details.last_name', null);
      this.zip = _get(data, 'details.zip', null);
      this.dependents = _get(data, 'details.dependents', '');
      this.coverage = _get(data, 'details.coverage', '');
    } catch (e) {
      // invalid registration
    } finally {
      this.loading = false;
    }
  },
  computed: {
    email() {
      return this.lead ? this.lead.email : null;
    },
    validationErrors() {
      const errors = Object.values(this.errors);
      return errors.flat();
    },
  },
  methods: {
    async submit() {
      this.errors = {};

      try {
        await API.updateRegistration(this.$route.params.token, {
          first_name: this.first_name,
          last_name: this.last_name,
          ...(this.zip && { zip: this.zip }),
          ...(this.dependents !== '' && { dependents: this.dependents }),
          ...(this.coverage !== '' && { coverage: this.coverage }),
        });
        this.submitted = true;
      } catch (e) {
        this.errors = e.response.data.errors;
      }
    },
  },
};
</script>
