// responsiveness
$navbar-breakpoint: 0;

// colors
$cyan: $g-blue;
$green: $g-green;
$red: $g-red;
$yellow: $g-yellow;
$grey-dark: $g-black;
$blue: $g-blue;
$primary: $g-purple;

// font
$family-primary: 'Lato', sans-serif;
$weight-medium: 700; 
$weight-semibold: 700;