<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= VUE_APP_GTAG_ID %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= VUE_APP_GTAG_ID %>');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@garnishhealth" />
    <meta property="twitter:description" content="Health cost sharing for everyone." />
    <meta property="twitter:image" content="<%= VUE_APP_HOST %><%= BASE_URL %>images/og-garnish-logo.png" />
    <meta property="og:title" content="Garnish Health" />
    <meta property="og:url" content="<%= VUE_APP_HOST %><%= BASE_URL %>" />
    <meta property="og:description" content="Health cost sharing for everyone." />
    <meta property="og:image" content="<%= VUE_APP_HOST %><%= BASE_URL %>images/og-garnish-logo.png" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
