<template>
  <div id="app">
    <transition name="fade" @leave="leave">
      <router-view />
    </transition>
  </div>
</template>

<style lang="scss" scoped>
.fade-enter-active {
  transition: opacity 0.3s ease;
}

.fade-enter {
  opacity: 0;
}
</style>

<script>
export default {
  methods: {
    leave(el, done) {
      done(); // required to allow aos library to refresh after page transitions
    },
  },
};
</script>
